@{
    ViewData["Title"] = "Expression Calculator";
}

<h3>Expression Calculator</h3>

<div>
    <label>Expression:</label>
    <input id="expression" size="30"/>
    <button id="compute">Compute</button>
</div>
